body {background-color:#FFD3A5;
  }
  
   h1 {font-size:40px;font-style:oblique;text-align:center;}
  p { text-align:center; font-size:25px;font-style:oblique;}


  #contact-list {
    display: grid;

  }

  #profile-div {
    display: block;
    float: left;
    padding:5px;
    margin: 5px;
    min-height: 450px;
  }
  